.header {
  height: 100vh;
  padding-top: 4.5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ======================   CTA ================= */

.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/* ======================   HEADER SOCIAL ================= */
.header_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0%;
  bottom: 3rem;
  gap: 0.8rem;
}

.header_social::after {
  content: "";
  width: 1px;
  height: 1.5rem;
  background-color: #4db5ff;
}

/* ===================== ME ================= */

.me {
  background: linear-gradient(#4db5ff, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem 1.5rem;
}

/* ===============================scroll down ======================== */

.scroll_down {
  position: absolute;
  right: -2.5rem;
  bottom: 6rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ====================media queries ==============  */

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
    .header {
      height: 100vh;
    }
  
}
